# Ejercicio de Pandas

Carga las 2 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, y pandas

**Coloca tu nombre y matricula** 

Nombre:Francisco Humberto Villegas Reyna

Matricula:1731722

1. Carga las librerias básicas

In [2]:
##### carga las dos librerias usadas (numpy, pandas ) 
import numpy as np
import pandas as pd

El siguiente comando importa un data frame desde un archivo csv de internet

In [3]:
ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas2.csv')

En caso de que una cantidad contenga decimales, debe estar redondeada a un decimal

2. Características del dataframe

In [15]:
#con código de python muestra cuantas filas y columnas tiene el dataframe y como se llaman las columnas
filas=len(ventas.axes[0])
columnas=len(ventas.axes[1])
print('Nuestro DataFrame tiene ',filas, 'filas con ',columnas,'columnas y sus columnas se llaman ',ventas.columns.values[0],',',ventas.columns.values[1],',',ventas.columns.values[2],',',ventas.columns.values[3])

Nuestro DataFrame tiene  168 filas con  4 columnas y sus columnas se llaman  Año , Mes , Ventas , Gasto

In [16]:
#muestra las primeras 5 filas del dataframe
ventas.head()

    Año      Mes  Ventas  Gasto
0  2010    Enero    1056    533
1  2010  Febrero     910    496
2  2010    Marzo    1095    695
3  2010    Abril    1157    599
4  2010     Mayo     969    490

*ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2010-2023*

3. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [17]:
## escribe aqui el código
ventas['Ganancias']=ventas['Ventas']-ventas['Gasto']

4. Encuentra el mes-año con las ganancias más altas

In [18]:
## escribe aqui el código
ventas.sort_values('Ganancias', ascending=False)

      Año        Mes  Ventas  Gasto  Ganancias
91   2017     Agosto    1680   1088        592
82   2016  Noviembre    1533    952        581
9    2010    Octubre    1124    563        561
3    2010      Abril    1157    599        558
69   2015    Octubre    1412    869        543
..    ...        ...     ...    ...        ...
161  2023      Junio    2120   2159        -39
157  2023    Febrero    2097   2137        -40
159  2023      Abril    1625   1679        -54
163  2023     Agosto    1759   1818        -59
160  2023       Mayo    2161   2262       -101

[168 rows x 5 columns]

5. Calcula e imprime las ventas totales, gastos totales y ganancias totales de  todo el periodo\
Ejemplo de mensaje: **las ventas totales son: 5000**, etc

In [22]:
## escribe aqui el código
vprom = ventas['Ventas'].mean().round(2)
GastosProm = ventas['Gasto'].mean().round(2)
GanProm = ventas['Ganancias'].mean().round(2)
print('Las ventas promedio son $',vprom)
print('El total de gastos fue $',GastosProm)
print('El total de ganancias fue de $',GanProm)

Las ventas promedio son $ 1403.16
El total de gastos fue $ 1078.11
El total de ganancias fue de $ 325.05

6. Calcula y muestra las ventas, gastos y ganancias para cada año

In [57]:
## escribe aqui el código
VentasxAño = ventas.groupby('Año')['Ventas','Gasto','Ganancias'].agg(['sum'])
VentasxAño=pd.DataFrame(VentasxAño)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9436\3343838782.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  VentasxAño = ventas.groupby('Año')['Ventas','Gasto','Ganancias'].agg(['sum'])

7. Calcula y muestra las ventas promedio mensuales del año 2015

In [58]:
## escribe aqui el código
##Pista: primero filtra para el año 2015, luego selecciona la columna ventas 
año2015 = ventas[ventas['Año']==2015]
año2015['Ventas'].mean().round(2)

1245.92

8. Calcula e imprime las ventas totales y ventas promedio para los eneros. Es decir, para enero de 2010, enero de 2011, enero 2012, etc

In [24]:
## escribe aqui el código ventas totales
##Pista: primero filtra los meses de enero, luego selecciona la columna ventas

In [25]:
## escribe aqui el código ventas promedio
enero = ventas[ventas['Mes']=='Enero']
enero['Ventas'].sum()

20073

9. Calcula las ventas promedio por mes, y muestra los meses ordenados de menor a mayor según su promedio

In [28]:
## aqui va tu codigo
VentasMes = ventas.groupby('Mes')['Ventas'].agg(['mean'])
VentasMes = pd.DataFrame(VentasMes)
VentasMes.sort_values('mean',ascending=True)

                   mean
Mes
Junio       1325.714286
Septiembre  1347.357143
Julio       1363.642857
Octubre     1388.285714
Marzo       1394.428571
Febrero     1406.357143
Mayo        1409.714286
Diciembre   1416.642857
Enero       1433.785714
Agosto      1437.857143
Noviembre   1456.642857
Abril       1457.500000